<header class="burger-navbar">
  <div class="logo">
    <a href="index.php?page=home">
      <img src="./img/logo1.png" alt="Mediatek Logo">
    </a>
  </div>
  <div class="burger-menu-icon" onclick="toggleBurgerMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <nav class="burger-nav-links">
    <a href="index.php?page=home">
      <ion-icon name="home"></ion-icon>
      Home
    </a>
    <a href="index.php?page=book_list">
      <ion-icon name="book"></ion-icon>
      Books
    </a>
    <a href="index.php?page=illustration_list">
      <ion-icon name="image-outline"></ion-icon>
      Illustrations
    </a>
  </nav>
</header>