.illustration-filename {
    max-width: 250px;
    word-wrap: break-word;
    white-space: normal;
    text-align: justify;
}

.illustration-visual {
    max-width: 200px;
    max-height: 500px;
    object-fit: cover;
    border-radius: 4px;
}
